body{
    margin:0;
    padding:0;
    font-family: poppins;
    background-color: silver;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
a { 
    font-size: 12px;
    text-transform: uppercase;

}
.nav-area{
    background: #262626;
}
.nav-area:after{
    content:'';
    clear:both;
    display: block;
}
.nav-area ul{
    list-style: none;
    margin: 0;
}
.nav-area > ul > li{
    float:left;
    float:relative;
}
.nav-area ul li a{
    text-decoration: none;
    color:#ffff;
    padding:15px 20px;
    display: block;
}
.nav-area ul li:hover a{
    background: #34495a;
}
.nav-area ul ul{
    position: absolute;
    padding:0;
    min-width: 160px;
    display: none;
    top:100%;
    left:0;
}
.nav-area ul li:hover>ul{
    display: block ;
}
.nav-area ul ul li:hover a{
    background: #262626;
}
.nav-area ul ul li{
    position: relative;
}
.nav-area ul ul ul{
    top:0;
    left:100%;
}
.nav-area ul ul ul li:hover a{
    background: #34495a;
}
ul{
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float:left;
}
li a,.dropbtn{
    display:inline-block;
    color:white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: royalblue;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(26, 9, 9, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display:block;
    text-align: left;
}
.dropdown-content a:hover{background-color: #f1f1f1;}
.dropdown:hover .dropdown-content{
    display: block;
}

.header {
    padding:80px;
    text-align:center;
    background:#0d71cf;
    color:white;
}
body {font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
.header h1{
    font-size: 40px;
}
 .logo a{
        float: left;
        position: absolute;
        top: 27px;
        text-decoration: none;
        color:black;
        font-style: oblique;
        font-size:x-large;   

}
.container{
    position: absolute;
}
.center{
    position: absolute;
    top:90%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}
.container{
    position: relative;
    width: 100px;
    max-width:400px;
}
.container img{
    width:100px;
    height:auto;
}
    
.container.btn{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: blanchedalmond;
    color:blue;
    padding: 12px 24px;
    border:none;
    cursor:pointer;
    border-radius: 5px;
    text-align:center;
}
 

.button {
    position:absolute;
    top:5px;
    left:80px;
    padding: 500px;
    
    
}












